.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid;
  border-left-width: 5px;
  border-radius: 3px;

  border-color: #eee;

}

.bs-callout-primary {
  border-left-color: #428bca;
}

