{
# Project's human readable name
title: "Micro Tasking Library"

# Project slug name
name: "micro-tasks"

# Project GitHub repository full name
# If `repository` is set, or if `homepage` is a GitHub URL, we set this automatically
repo: "pflannery/micro-tasks"

# Project's homepage URL
# If `repo`, `repository`, or `demo` is set, we set this automatically
homepage: "https://github.com/pflannery/micro-tasks"

# Project's demo URL
# If `homepage` or  is set, we set this automatically
demo: "https://pflannery.github.com/micro-tasks"

# Project description
description: "Simple task utility that runs tasks as micro tasks via promises."

# Project keywords
# Can be an array or CSV string
keywords: "micro task,tasks,promise"

# Project's author details
# Can be an array or CSV string
authors: ["2015+ pflannery (https://github.com/pflannery)"]
author: null

# Maintainers
# Can be an array or CSV string
maintainers: ["pflannery (https://github.com/pflannery)"]
maintainer: null

# Sponsors
# Can be an array or CSV string
sponsors: []

# Contributors
# Pulled in automatically from the GitHub Repository API and the GitHub Repository's `package.json` file
contributors: null

# Project's license details
# Can be an array or CSV string
license: "GNU GPL v3"
licenses: null

# Project's repository details
# If `repo` is set, or if `homepage` is a GitHub URL, we set this automatically
repository:
	type: "git"
	url: "https://github.com/pflannery/micro-tasks.git"

# Project's repository details
# If `repo` is set, or if `homepage` is a GitHub URL, we set this automatically
bugs:
	url: "https://github.com/pflannery/micro-tasks/issues"

# Whether the project can run on the client-side in web browsers
# If the component or bower package information is set, then this becomes true automatically
browsers: false

# Project's badges for use in the readme files
badges:
# NPM Badge
# If not set, fallbacks to true if the `package.json` file exists
	npm: true
	npmdownloads: true

# Travis CI Badge
# If not set, fallbacks to true if the `.travis.yml` file exists
	travis: true

# David DM Dependency Badge
# If not set, fallbacks to true if the `package.json` file exists
# Will only run if dependencies is set
	david: true

# David DM Dev Dependency Badge
# If not set, fallbacks to the David DM Dependency Badge value
# Will only run if dev dependencies is set
	daviddev: true

	gratipay: "pflannery"
}