<div class="iconSidebar" ng-controller="iconSidebarController">
    <ul class="nav nav-pills nav-stacked">
        <li class="btn btn-pill" data-target="#apiSidebar" data-content="All">
            <a>
                <i class="fa fa-list"></i>
            </a>
        </li>
        <li class="btn btn-pill" data-target="#modulesSidebar" data-content="Modules Only">
            <a>
                <i class="fa fa-cube moduleItemType"></i>
            </a>
        </li>
        <li class="btn btn-pill" data-target="#classesSidebar" data-content="Classes Only">
            <a>
                <i class="fa fa-cube classItemType"></i>
            </a>
        </li>
        <li class="btn btn-pill" data-target="#methodsSidebar" data-content="Methods Only">
            <a>
                <i class="fa fa-cube methodItemType"></i>
            </a>
        </li>
        <li class="btn btn-pill" data-target="#propertiesSidebar" data-content="Properties Only">
            <a>
                <i class="fa fa-cube propertyItemType"></i>
            </a>
        </li>
    </ul>
</div>


